<header class='profile'>
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
    <% if current_user %>
      <h1 class="mx-auto my-0 text-uppercase header-index">User Profile</h1>
        <section class="content-left user-photo">
          <%= image_tag @user.photo, class: "profile-picture"%>
          <br><br>
          <%= button_to "Edit Profile", edit_user_path(@user), method: :get,  class: "btn transparent-50"%>
        </section>
        <section class="content-right user-info">
          <div class="profile-section">
            <p><b>Name:</b> <%=@user.name %></p>
            <p><b>Email:</b> <%=@user.email %></p>
          </div>
          <br>
          <h2>Saved Games</h2>
          <% if @user.games.count == 0 %>
          <img src="https://i.ibb.co/TtGJvyH/output-onlinepngtools-1.png" width="270" height="320">
          <p class= "color-me">You have not saved any games.</p>
          <% else %>
          <section class="profile-game-list">
            <table class="my-games">
            <div class="tbl-header">
                <thead>
                  <tr>
                    <th>Remove</th>
                    <th></th>
                    <th>Title</th>
                    <th>Rating</th>
                    <th>Popularity</th>
                  </tr>
                </thead>
          </div>
          <% @user.games.each do |game| %>
              <tr id="game-<%= game.id %>">
                <td><%= button_to user_game_path(game.id), method: :delete, class: "transparent unsave-game" do %>
                  <i class="fa fa-gamepad fa-4x", aria-hidden="true"></i>
                <% end %>
                </td>
                <td><img class="game-img thumbnail" src="<%=game.cover %>" alt=""></td>
                <td><%= link_to game.name, game_path(game) %></td>
                <td><%=game.total_rating %></td>
                <td><%=game.popularity %></td>
              </tr>
          <% end %>
          <% end %>
        </table>
          </section>
        </section>
    <% else %>
      <div class='visitor-container'>
        <div class="container d-flex h-100 align-items-center">
          <section class="review_form">
            <div class="underline"></div>
              <div class="icon_wrapper">
                <center>
                  <img class="icon" src="https://cdn2.iconfinder.com/data/icons/funeral-filloutline/64/scythe-reaper-cultures-spooky-terror-scary-fear-horror-death-halloween-256.png" alt="zombie" border="0">
                </center>
                <h3>Ah, spooks.</h3><br></center> <p>You must be logged in to view this page.</p>
                <a class="btn btn-primary js-scroll-trigger" href="/auth/google_oauth2">Log In with Google</a>
              </div>
            <br>
          </section>
        </div>
      </header>
     <% end %>
    </div>
</header>
