<header class='masthead'>
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">I Scream Arcade</h1></br>
      <div class="fear-quiz">
      <a class="btn btn-primary js-scroll-trigger" href="/quiz">Will it Scare Me?</a><br>
      Take the Fear Quiz
      </div>
    </div>
</header>

  <div class="game-search">
    <div class="col-md-10 col-lg-8 mx-auto text-center">
      <h2 class="text-black mb-4">Search for Games</h2>
      <form class="form-inline d-flex" _lpchecked="1">
      <%= form_tag do %>
        <%= radio_button_tag(:search, "Game") %>
        <%= label_tag(:game_title, "Game") %>
        <%= radio_button_tag(:search, "Keyword") %>
        <%= label_tag(:keyword, "Keyword") %>
      <% end %>
        <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="game_search"  placeholder="Search by game title or keyword...">
        <%= button_to "Search", "/game-search", method: :get, :class=>"btn btn-primary mx-auto" %>
      </form>
    </div>
  </div>
</div>
