<header class='quiz'>
  <div class="container d-flex h-100 align-items-center">
  <% cache cache_key_for(Game, "list") do %>
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase header-index">Game Library</h1></br>
      <section class="top-margin">
        <table class = "game-table">
            <tr>
              <th>Save Games</th>
              <th></th>
              <th>Title</th>
              <th>Release Year</th>
              <th>Rating</th>
              <th>Popularity</th>


            </tr>
          <%@games.each do |game| %>
              <tr id="game-<%= game.id %>">
                <td><%= button_to user_games_path(game.id), method: :post, class: "transparent save-game" do %>
                  <i class="fa fa-gamepad fa-4x", aria-hidden="true"></i>
                <% end %>
                </td>
                <td><img class="game-img thumbnail" src="<%=game.cover %>" alt=""></td>
                <td><%= link_to game.name, game_path(game) %></td>
                <td><%=game.release_date %></td>
                <td><%=game.total_rating %></td>
                <td><%=game.popularity %></td>
              </tr>
          <% end %>
        </table>
      </section>
    </div>
  <% end %>
</header>
