<div class="game_show">
  <section style="display: flex; flex-direction: row; justify-content: space-evenly; padding-top: 7em">
    <section>
      <div><%= image_tag  @game.cover, :class => "style_image" %></div>
      <div> <%= button_to  "Favorite ❤️", "/favorties" %> </div>
    </section>
    <section>
      <div style="color:white;">
        <h2 class="mx-auto text-uppercase"><%= @game.title %></h2>
        <p><%= "description of game"%></p>
      </div>
      <div style="color:white;">
        <p><%= "Rating: #{@game.rating}"%></p>
      </div>
    </section>
    <section>
      <iframe width="550" height="300" src="https://www.youtube.com/embed/ASWgJvuQhTA"></iframe>
    </section>
  </section>
  <section>
    <div>
      <h2 style="color:white;"><%= "Related Games"%>
    </div>
  </section>
</div>