<div class="inner-page-body">
  <section style="display: flex; flex-direction: row; justify-content: space-evenly; padding-top: 7em">
    <section>
      <div><%= image_tag  src="https://cdn11.bigcommerce.com/s-ymgqt/products/24049/images/27742/mario_kart__77494.1432323546.500.750.jpg?c=2", :class => "style_image" %></div>
      <div> <%= button_to  "Favorite ❤️", "/favorties" %> </div>
    </section>
    <section>
      <div>
        <h2><%= "Title of game" %></h2>
        <h2><%= @game.title %></h2>
        <p><%= "description of game"%></p>
      </div>
      <div>
        <p><%= "5 Stars"%></p>
      </div>
    </section>
    <section>
      <iframe width="550" height="300" src="https://www.youtube.com/embed/ASWgJvuQhTA"></iframe>
    </section>
  </section>
  <section>
    <div><h2><%= "Related Games"%></div>
  </section>
</div>