<div class="inner-page-body">
  <section style="display: flex; flex-direction: row; justify-content: space-evenly; padding-top: 7em">
    <section>
      <div class='game'>
        <div><%= image_tag  src=@game.cover, :class => "style_image" %></div>
        </section>
        <section>
        <div>
        <h2><%= "Title" %></h2>
        <div> <%= button_to  "Save Game", "/favorties" %> </div>
        <p><%= "description of game"%></p>
        <p><%= "Popularity"%></p>
      </div>
      <div>
        <p><%= "Themes"%></p>
      </div>
    </section>
    <section>
      <iframe width="550" height="300" src="https://www.youtube.com/embed/ASWgJvuQhTA"></iframe>
    </section>
  </section>
  <section>
    <div><h2><%= "Related Games"%></div>
  </section>
</div>